@import "tailwindcss";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
  /* Primary Colors */
  --primary-accent: #e2e8f0; /* light gray, matches the image */
  --primary-gradient-start: #e2e8f0;
  --primary-gradient-end: #ffffff;
  /* --primary-gradient-start-rgb: 200, 200, 200; */
  --primary-gradient-start-rgb: 120, 120, 120;


  --primary-gradient-end-rgb: 255, 255, 255;

  /* Background Colors */
  /* --bg-primary: #0a0a0ac0; */
  /* Background Colors */
  --bg-primary: #07071595;

  /* Text Colors */
  --text-white: #ffffff;
  --text-gray: #959eac;
  --text-light-gray: #b0b0b0;
  --text-dark: #333333;

  /* Border Colors */
  --border-light: rgba(255, 255, 255, 0.1);
  --border-medium: rgba(255, 255, 255, 0.3);

  /* Shadow Colors */
  --shadow-dark: rgba(0, 0, 0, 0.3);
  --shadow-light: rgba(255, 255, 255, 0.1);
}

body,html{
     /* background-color: #111111; */
   
    font-family: Arial, Helvetica, sans-serif;
 /* color-mix(in oklab, var(--color-black) 20%, transparent); */
}

